mixin menu(list, clazz)
				div(class=`${clazz}__list-wrapper`)
					ul(class=`${clazz}__list`)
						each item, index in list
							li(class=`${clazz}__list-item`)
								a(
								class=`${clazz}__link`
								href=item.url ? item.url : '#'
								)= item.text
					if clazz === 'menu'
						div(class=`${clazz}__close`)
				if clazz === 'menu'
					div(class=`${clazz}__overlay`)